<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.laoshini.dk.config.center.mapper.VersionHistoryMapper">

    <select id="selectIterations" resultType="java.lang.Integer"
            parameterType="java.lang.String">
        SELECT `iterations`
        FROM `version_history`
        WHERE `name` = #{name}
    </select>


    <insert id="insert" parameterType="java.lang.String">
        INSERT INTO `version_history`(`name`, `iterations`)
        VALUES (#{name}, 1)
    </insert>

    <update id="versionIncrement" parameterType="java.lang.String">
        UPDATE `version_history`
        SET `iterations`=`iterations` + 1
        WHERE `name` = #{name}
    </update>

</mapper>